body {
	padding: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #111;
}
This is a new line.
This is not a new line.
This is another new line.
We have red and yellow file now.
We have green file now.
We have news3-file now.
We have pink file now.
Mary has changed pink file.
